/* Modifications divers par dessus bootstrap */
body{
	font-family: Arial,Helvetica,sans-serif;
}

aside, footer, section{
  border: 1px solid #d4d4d4;
  border-radius: 5px;
  margin-top: 10px;
}

footer{
    text-align: center;
    padding: 10px;
    font-size: 70%;
    line-height: 14px;
    background-color: white;
    opacity: 0.9;
}

h2{
	color:rgb(255,255,255);
	text-align: center;
	background-color: rgb(34, 116, 172);
}

#margins
{
    margin-left: 20%;
    margin-right: 20%;
}

#bas
{
    position: fixed;
    bottom: 0px;
    width: 100%;
}

#fondBlanc
{
    background-color: white;

}

#blanc
{
    background-color: transparent;
    opacity: 0.8;
}


#haut
{
    opacity: 0.9;
    border-style: none;
}

.table
{
    background-color: white;
    margin-bottom: 0;
}

#recherche
{
    position: center;
    padding-top: 1px;
    padding-bottom: 1px;
    opacity:0.9;
    font-size: 20px;
    background-color: white;
    margin: 2% 0;

}


.navbar{
    margin-bottom: 0px;
}

.form-center{
	text-align: center;
	width: 20%;
}
.visible {
  visibility: visible;
}
.invisible {
  visibility: hidden;
}

.form-signin
{
    height: 100%;
}

.input-group
{
    width: 20%;

}

#myInput
{
	left:auto;
    font-size: 16px; /* Increase font-size */
    padding: 2px; /* Add some padding */
    border: 2px solid #ddd; /* Add a grey border */
}

.text-center
{
	text-align: left;
}

.form-center
{
    width: 30%;
}


/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 5% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 50%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

#background
{
    background-size: auto;
    background-image: url("../img/background.jpeg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: top;
    background-size: cover;
    height: 100%;
}

.formulairePerso
{
    -webkit-box-shadow: 10px 10px 25px 2px #292929;
    box-shadow: 10px 10px 25px 2px #292929;
    -webkit-border-radius: 20px 20px 20px 420px;
    border-radius: 20px 20px 20px 20px;
    width: 30%;
    margin-top: 2%;
    margin-bottom: 2%;
    margin-left: 25%;
    margin-right: 25%;
    padding-top: 2%;
    padding-bottom: 2%;
    padding-left: 2%;
    padding-right: 2%;
    background-color: white;
    opacity: 0.9;
}
