/* Modifications divers par dessus bootstrap */
body{
	font-family: Arial,Helvetica,sans-serif;
}

aside, footer, section{
 	border: 1px solid #d4d4d4;
	border-radius: 5px;
	margin-top: 10px;
 }

footer{
    text-align: center; 
    padding: 10px; 
    font-size: 70%; 
    line-height: 14px;
}

h2{
	color:rgb(255,255,255);
	text-align: center;
	background-color: rgb(34, 116, 172);
}

.form-center{
	text-align: center;
	width: 20%;
}
.visible {
  visibility: visible;
}
.invisible {
  visibility: hidden;
}
#myInputUser, #myInputFirstname, #myInputName 
{
	left:auto;
    width: 50%; /* Full-width */
    font-size: 16px; /* Increase font-size */
    padding: 2px; /* Add some padding */
    border: 2px solid #ddd; /* Add a grey border */
    margin-bottom: 12px; /* Add some space below the input */
}

.text-center
{
	text-align: left;
}

.form-center
{
    width: 30%;
}